---
import CommonHeading from "../components/CommonHeading.astro"
import Layout from "../layout/Layout.astro"

const pageTitle = "About"
---

<Layout title={pageTitle}>
  <CommonHeading text="About Us"/>
  <p>This is the about page where you can learn more about our website.</p>
</Layout>
