---
import CommonHeading from "../components/CommonHeading.astro"
import Layout from "../layout/Layout.astro"

const pageTitle = "Home"
---

<Layout title={pageTitle}>
  <CommonHeading text="Welcome to the Home Page"/>
  <p>This is the main content of the homepage.</p>
</Layout>
